.profile-page{
  background:#ded8cc;
  height:100vh;
  padding:20px 30px;
  font-family:'Baloo-Regular', sans-serif;
  box-sizing:border-box;
  overflow:hidden;

  display:flex;
  flex-direction:column;
}

/* top nav */

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo{
  width:24px;
  height:auto;
}

.logo-area h2{
  margin:0;
}

.back-arrow{
  font-size:28px;
  cursor:pointer;
}

/* profile card */

.profile-card{
  background:#edc971;
  border:3px solid black;
  border-radius:20px;
  padding:35px;
  margin-top:15px;

  display:flex;
  gap:25px;
  position:relative;
}

.avatar{
  width:160px;
  height:160px;
  border-radius:10px;
  overflow:hidden;
  background:black;
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.profile-right{
  flex:1;
}

.profile-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.profile-header h2{
  margin:0;
  font-size:28px;
}

.profile-header p{
  margin:0;
  font-size:20px;
}

.level-container{
  display:flex;
  flex-direction:column;
  gap:5px;
  width:100%;
  margin-top:10px;
}

.progress-bar{
  width:100%;
  height:14px;
  background:#eee;
  border-radius:20px;
  margin:8px 0;
}

.progress-fill{
  width:70%;
  height:100%;
  background:linear-gradient(to right,#e57373,#e8a9a9);
  border-radius:20px;
}

.level{
  font-weight:bold;
  font-size:16px;
}

.motions{
  display:flex;
  gap:10px;
  align-items:center;
  margin-top:10px;
}

.motions h3{
  margin:0;
  font-size:26px;
}

.motions p{
  margin:0;
}

.motions-icon{
  background:white;
  padding:16px;
  border-radius:10px;
  font-size:22px;
}

.Edit{
  position:absolute;
  top:20px;
  right:20px;
  width:15px;
}

/* stats */

.stats-container{
  background:#e5e0d6;
  margin-top:15px;
  padding:20px;
  border-radius:20px;
  border:2px solid #bfbfbf;

  display:flex;
  gap:25px;
  flex:1;
  min-height:0;
}

.Streak{
  width:220px;
}

.BestScore{
  width:220px;
}

.badges{
  display:grid;
  grid-template-columns:repeat(3,80px);
  grid-auto-rows:80px;
  gap:40px;
}

.Pink,
.Green,
.Purple,
.Orange{
  width:110px;
}